Package                        Version
------------------------------ --------------
accelerate                     1.9.0
conda                          22.11.1
datasets                       4.8.2
diffusers                      0.34.0
evaluate                       0.4.6
huggingface_hub                0.36.2
peft                           0.18.1
pillow                         10.3.0
pip                            22.3.1
safetensors                    0.7.0
tokenizers                     0.21.4
torch                          2.7.1+cu118
torchaudio                     2.7.1+cu118
torchvision                    0.22.1+cu118
tqdm                           4.67.3
transformers                   4.54.0
wandb                          0.21.0
